<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.ButtonFootprintMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.ButtonFootprint">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="footprint" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="footprintTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, footprint, footprintTime, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from button_footprint
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from button_footprint
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.ButtonFootprint">
    insert into button_footprint (id, userId, footprint, 
      footprintTime, deleted)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{footprint,jdbcType=VARCHAR}, 
      #{footprinttime,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.ButtonFootprint">
    insert into button_footprint
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="footprint != null">
        footprint,
      </if>
      <if test="footprinttime != null">
        footprintTime,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="footprint != null">
        #{footprint,jdbcType=VARCHAR},
      </if>
      <if test="footprinttime != null">
        #{footprinttime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.ButtonFootprint">
    update button_footprint
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="footprint != null">
        footprint = #{footprint,jdbcType=VARCHAR},
      </if>
      <if test="footprinttime != null">
        footprintTime = #{footprinttime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.ButtonFootprint">
    update button_footprint
    set userId = #{userid,jdbcType=INTEGER},
      footprint = #{footprint,jdbcType=VARCHAR},
      footprintTime = #{footprinttime,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  	<!-- 插入按钮足迹 -->
	<insert id="insertfootprint" parameterType="java.util.Map">
		insert into button_footprint (userId, footprint,
		footprintTime)
		values (#{userId,jdbcType=INTEGER},
		#{footprintName,jdbcType=VARCHAR},
		#{currentTimestamp,jdbcType=VARCHAR})
	</insert>
</mapper>