<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.EditBillMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.EditBill">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operationDate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="registrationNumber" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="realPay" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accountType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="firmType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sourceId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="businessesId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="modifyTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="registrationTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sourceTo" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, operationDate, account, registrationNumber, price, realPay, note, accountType, 
    firmType, sourceId, businessesId, modifyTime, deleted, registrationTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edit_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edit_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.EditBill">
    insert into edit_bill (id, operationDate, account, 
      registrationNumber, price, realPay, 
      note, accountType, firmType, 
      sourceId, businessesId, modifyTime, 
      deleted, registrationTime)
    values (#{id,jdbcType=INTEGER}, #{operationdate,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{registrationnumber,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{realpay,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR}, #{accounttype,jdbcType=VARCHAR}, #{firmtype,jdbcType=VARCHAR}, 
      #{sourceid,jdbcType=INTEGER}, #{businessesid,jdbcType=INTEGER}, #{modifytime,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR}, #{registrationtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.EditBill">
    insert into edit_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operationdate != null">
        operationDate,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="registrationnumber != null">
        registrationNumber,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="realpay != null">
        realPay,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="accounttype != null">
        accountType,
      </if>
      <if test="firmtype != null">
        firmType,
      </if>
      <if test="sourceid != null">
        sourceId,
      </if>
      <if test="businessesid != null">
        businessesId,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="registrationtime != null">
        registrationTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationdate != null">
        #{operationdate,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="registrationnumber != null">
        #{registrationnumber,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="realpay != null">
        #{realpay,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null">
        #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="firmtype != null">
        #{firmtype,jdbcType=VARCHAR},
      </if>
      <if test="sourceid != null">
        #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="businessesid != null">
        #{businessesid,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="registrationtime != null">
        #{registrationtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.EditBill">
    update edit_bill
    <set>
      <if test="operationdate != null">
        operationDate = #{operationdate,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="registrationnumber != null">
        registrationNumber = #{registrationnumber,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="realpay != null">
        realPay = #{realpay,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null">
        accountType = #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="firmtype != null">
        firmType = #{firmtype,jdbcType=VARCHAR},
      </if>
      <if test="sourceid != null">
        sourceId = #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="businessesid != null">
        businessesId = #{businessesid,jdbcType=INTEGER},
      </if>
      <if test="modifytime != null">
        modifyTime = #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="registrationtime != null">
        registrationTime = #{registrationtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.EditBill">
    update edit_bill
    set operationDate = #{operationdate,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      registrationNumber = #{registrationnumber,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      realPay = #{realpay,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      accountType = #{accounttype,jdbcType=VARCHAR},
      firmType = #{firmtype,jdbcType=VARCHAR},
      sourceId = #{sourceid,jdbcType=INTEGER},
      businessesId = #{businessesid,jdbcType=INTEGER},
      modifyTime = #{modifytime,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      registrationTime = #{registrationtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- ==================================================================================== -->
     		  	<!--编辑账单中插入数据 -->
	<insert id="setEditBill" parameterType="java.util.Map">
    insert into edit_bill (operationDate,registrationNumber, price, 
      realPay, note,accountType,firmType,modifyTime,registrationTime,company,sourceTo,
      <if test='firmType == "1"'>
        sourceId,account
      </if>
      <if test='firmType == "2"'>
        businessesId
      </if>
      )
    values (#{operationDate}, #{registrationNumber}, #{price}, 
      #{realPay}, #{note},#{accountType},#{firmType},#{modifyTime},#{registrationTime},#{company},#{sourceTo},
      <if test='firmType == "1"'>
        #{sourceId},#{account}
      </if>
      <if test='firmType == "2"'>
        #{businessesId}
      </if>
      )
	</insert>
	
	
  <!--编辑账单中更新数据 -->
    <update id="updateEditBill" parameterType="java.util.Map">
    update edit_bill
    set operationDate = #{oDatetimestamps},
      account = #{account},
      registrationNumber = #{registrationNumber},
      price = #{price},
      realPay = #{realPay},
      note = #{note},
      accountType = #{accountType},
      firmType = #{firmType},
      modifyTime = #{modifyTimestamps},
      registrationTime = #{registrationTimestamps},
      sourceTo = #{sourceTo},
      <if test='firmType == "1"'>
      sourceId= #{sourceId},
      account = #{account}
      </if>
      <if test='firmType == "2"'>
      businessesId = #{businessesId}
      </if>
    where id = #{id}
  </update>
  
  	<!--充值金额中根据id删除数据，其实就是把deleted改成1 -->
	<update id="deleteEditBillById" parameterType="java.util.Map">
		update edit_bill set deleted = '1', modifyTime = #{modifyTimestamps} where id = #{id}
	</update>
	
	
	  	<!--充值金额中根据操作日期删除数据，其实就是把deleted改成1 -->
	<update id="deleteEditBillByOperationDate" parameterType="java.util.Map">
		update edit_bill set deleted = '1', modifyTime = #{modifyTimestamps} where operationDate =#{operationDate} and company=#{company} and (
		<foreach collection="accountList" index="index" item="account" >  
          account = #{account} or  
        </foreach>
        1=2)
	</update>
	
		  	<!--充值金额中根据操作日期删除数据，其实就是把deleted改成1 -->
	<update id="deleteEditBillByOperationDate1" parameterType="java.util.Map">
		update edit_bill set deleted = '1', modifyTime = #{modifyTimestamps} where operationDate =#{oDatetimestamps} and company=#{company} and businessesId=#{businessesId}

	</update>
	
		   <!-- 编辑账单中，根据传过来的账号查看有多少条数据 -->
 <select id="pageCountByEditBill1" parameterType="java.util.Map" resultType="java.lang.Integer">
   select count(id) from edit_bill where deleted='0' and (
    <foreach collection="accountList" index="index" item="account" >  
          account = #{account} or  
        </foreach>
        1=2)
 </select>
  
  		   <!-- 编辑账单中，根据传过来的账号查看有多少条数据 -->
 <select id="pageCountByEditBill2" parameterType="java.lang.Integer" resultType="java.lang.Integer">
   select count(id) from edit_bill where deleted='0' and businessesId = #{businessesId}   
 </select>
 
   		   <!-- 编辑账单中，根据传过来的账号查询所有数据 -->
 <select id="getEditBill1" parameterType="java.util.Map" resultType="com.zhita.model.manage.EditBill">
   select id,operationDate,account,registrationNumber,price,realPay,note,accountType,firmType,sourceId,registrationTime,sourceTo from edit_bill 
   where deleted='0' and company = #{company} and firmType =#{firmType} and (
        <foreach collection="accountList" index="index" item="account" >  
          account = #{account} or  
        </foreach>
        1=2) order by operationDate desc limit #{page},#{pageSize}
 </select>
  
     		   <!-- 编辑账单中，根据传过来的账号查询所有数据 -->
 <select id="getEditBill2" parameterType="java.util.Map" resultType="com.zhita.model.manage.EditBill">
   select id,operationDate,account,registrationNumber,price,realPay,note,accountType,firmType,sourceId,registrationTime,sourceTo from edit_bill 
   where deleted='0' and company = #{company} and businessesId = #{businessesId} order by operationDate desc limit #{page},#{pageSize}
 </select>
 
<!--    		   编辑账单中，根据传过来的账号查询数据的总和-->
 <select id="getEditBillCount1" parameterType="java.util.Map" resultType="com.zhita.model.manage.EditBill">
select sum(realPay) realPay,count(accountType) accountType,ROUND(avg(price),0) price,sum(registrationNumber) registrationNumber from edit_bill where registrationTime >=#{startDate} and registrationTime &lt;#{endDate} and company = #{company} and deleted='0' and accountType = #{accountType} and (
 <foreach collection="accountList" index="index" item="account" >  
          account = #{account} or  
 </foreach>
  1=2)
 </select> 

 <!--    		   编辑账单中，根据传过来的账号查询数据的总和-->
 <select id="getEditBillCount2" parameterType="java.util.Map" resultType="com.zhita.model.manage.EditBill">
select sum(realPay) realPay,count(accountType) accountType,ROUND(avg(price),0) price,sum(registrationNumber) registrationNumber from edit_bill where registrationTime >=#{startDate} and registrationTime &lt;#{endDate} and company = #{company} and deleted='0' and accountType = #{accountType} and businessesId = #{businessesId} 
 </select> 
 
  <!--公司浏览中，查出有多少时间段-->
 <select id="getdate" parameterType="java.util.Map" resultType="java.lang.String">
select distinct operationDate from edit_bill where operationDate >=#{startDate} and operationDate &lt;#{endDate} and company = #{company} and deleted='0' and (
 <foreach collection="accountList" index="index" item="account" >  
          account = #{account} or  
 </foreach>
  1=2)
 </select> 
</mapper>