<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.ExpenditureBigtypeMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.ExpenditureBigtype" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bigtype" property="bigtype" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bigtype, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from expenditure_bigtype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from expenditure_bigtype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.ExpenditureBigtype" >
    insert into expenditure_bigtype (id, bigtype, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{bigtype,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.ExpenditureBigtype" >
    insert into expenditure_bigtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bigtype != null" >
        bigtype,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bigtype != null" >
        #{bigtype,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.ExpenditureBigtype" >
    update expenditure_bigtype
    set bigtype = #{bigtype,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询所有的大类别 -->
  <select id="queryAllBigtype" resultType="com.zhita.model.manage.ExpenditureBigtype">
  	select * from expenditure_bigtype where deleted='0'
  </select>
</mapper>