<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.FunctionsMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Functions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="function_first" property="functionFirst" jdbcType="VARCHAR" />
    <result column="function_second" property="functionSecond" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, function_first, function_second
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from functions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from functions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Functions" >
    insert into functions (id, function_first, function_second
      )
    values (#{id,jdbcType=INTEGER}, #{functionFirst,jdbcType=VARCHAR}, #{functionSecond,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Functions" >
    insert into functions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="functionFirst != null" >
        function_first,
      </if>
      <if test="functionSecond != null" >
        function_second,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="functionFirst != null" >
        #{functionFirst,jdbcType=VARCHAR},
      </if>
      <if test="functionSecond != null" >
        #{functionSecond,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Functions" >
    update functions
    <set >
      <if test="functionFirst != null" >
        function_first = #{functionFirst,jdbcType=VARCHAR},
      </if>
      <if test="functionSecond != null" >
        function_second = #{functionSecond,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Functions" >
    update functions
    set function_first = #{functionFirst,jdbcType=VARCHAR},
      function_second = #{functionSecond,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理  根据用户名查询出当前用户所拥有的功能 -->
  <select id="queryFunctionByName" parameterType="java.lang.String" resultType="com.zhita.model.manage.Functions">
  	select DISTINCT f.id,f.functionFirst,f.functionSecond from manage_login lg
	inner join managelogin_role mr on lg.id=mr.manageLoginId
	inner join role r on r.id=mr.roleId 
	inner join role_function rf on r.id=rf.roleId
	inner join functions f on f.id=rf.functionId
	where lg.phone=#{arg0} and lg.deleted='0'
  </select>
  <!-- 后台管理   根据权限id查询权限名称 -->
  <select id="queryFunctionsByFunctionId" parameterType="java.lang.Integer" resultType="java.lang.String">
  	select functionSecond from functions where id=#{id};
  </select>
</mapper>