<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="roleMiaoshu" property="rolemiaoshu" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleName, roleMiaoshu, deleted
  </sql>
  <!-- 后台管理   通过角色id查询出角色信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.zhita.model.manage.Role" >
    insert into role (id, roleName, roleMiaoshu, 
      deleted)
    values (#{id,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{rolemiaoshu,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
      <if test="rolemiaoshu != null" >
        roleMiaoshu,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="rolemiaoshu != null" >
        #{rolemiaoshu,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Role" >
    update role
    set roleName = #{rolename,jdbcType=VARCHAR},
      roleMiaoshu = #{rolemiaoshu,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理  查询出所有的角色信息  不含分页-->
  <select id="queryAllRole" resultType="com.zhita.model.manage.Role">
  	select id,roleName from role;
  </select>
    <!-- 后台管理   查询出所有的角色信息  含分页 -->
  <select id="queryAllRolePage" resultType="com.zhita.model.manage.Role">
  	select id,roleName,roleMiaoshu,deleted from role limit #{arg0},#{arg1}
  </select>
  <!-- 后台管理   添加角色 -->
  <insert id="addRole" parameterType="com.zhita.model.manage.Role">
  	insert into role (roleName, roleMiaoshu)  values (#{rolename,jdbcType=VARCHAR}, #{rolemiaoshu,jdbcType=VARCHAR})
  </insert>
  
  <!--后台管理   查看权限功能   通过角色id查询出  当前角色的所有权限  -->
  <select id="queryFunctionByRoleid" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.FunctionUtilBean">
 	select id,function_first,GROUP_CONCAT(function_second) function_second from functions where id in (select function_id from role_function where role_id=#{arg0}) 
	group by function_first
  </select>
  <!-- 后台管理  查询出功能表所有的信息 -->
  <select id="queryFunctionAll" resultType="com.zhita.model.manage.FunctionUtilBean">
  	select id,function_first,GROUP_CONCAT(function_second) function_second from functions 
	group by function_fir
  </select>
</mapper>