<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.ShufflingFigureMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.ShufflingFigure">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cover" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="link" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="businessname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, cover, link,businessname, state, deleted,company
  </sql>
  <!-- 后台管理  根据主键id查询出轮播图信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shuffling_figure
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shuffling_figure
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.ShufflingFigure">
    insert into shuffling_figure (id, title, cover, 
      link, state, deleted,company
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.ShufflingFigure">
    insert into shuffling_figure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.ShufflingFigure">
    update shuffling_figure
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.ShufflingFigure">
    update shuffling_figure
    set title = #{title,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--后台管理  通过传过来的轮播图对象，对当前对象进行修改保存  -->
    <update id="updateShufflingFigure" parameterType="com.zhita.model.manage.ShufflingFigure">
    update shuffling_figure
    set title = #{title,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      businessname=#{businessname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理    查询出轮播图总数量 -->
  <select id="pageCount" resultType="java.lang.Integer">
  	select count(title) from shuffling_figure where deleted='0' and company=#{arg0}
  </select>
  <!-- 后台管理   根据标题字段模糊查询出  轮播图总数量 -->
  <select id="pageCountByLike" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(title) from shuffling_figure where deleted='0' and title like "%"#{arg0}"%" and company=#{arg1}
  </select>
  <!--后台管理   查询轮播图全部信息 含分页 -->
  <select id="queryAll" resultType="com.zhita.model.manage.ShufflingFigure">
  	select * from shuffling_figure where deleted='0' and company=#{arg0} limit #{arg1},#{arg2}
  </select>
  <!--后台管理   查询轮播图全部信息  不含分页 -->
  <select id="queryAll1" resultType="com.zhita.model.manage.ShufflingFigure">
  	select * from shuffling_figure where deleted='0' and company=#{arg0}
  </select>
  <!-- 后台管理   根据标题字段模糊查询轮播图信息，含分页 -->
  <select id="queryAllByLike" resultType="com.zhita.model.manage.ShufflingFigure">
  	select * from shuffling_figure where deleted='0' and title like "%"#{arg0}"%" and company=#{arg1} limit #{arg2},#{arg3}
  </select>
  <!-- 后台管理   根据标题字段模糊查询轮播图信息，不含分页 -->
  <select id="queryAllByLike1" resultType="com.zhita.model.manage.ShufflingFigure">
  	select * from shuffling_figure where deleted='0' and title like "%"#{arg0}"%" and company=#{arg1}
  </select>
  <!-- 后台管理   添加轮播图信息 -->
  <insert id="AddAll" parameterType="com.zhita.model.manage.ShufflingFigure">
  	insert into shuffling_figure(title,cover,link,businessname,company) values(#{title},#{cover},#{link},#{businessname},#{company})
  </insert>
  <!-- 后台管理   根据删除按钮，修改轮播图假删除状态 -->
  <update id="upaFalseDel" parameterType="java.lang.Integer">
  	update shuffling_figure set deleted='1' where id=#{id}
  </update>
  <!-- 后台管理  修改轮播图的状态 为开启-->
  <update id="upaStateOpen" parameterType="java.lang.Integer">
  	update shuffling_figure set state='1' where id=#{id}
  </update>
  <!-- 后台管理  修改轮播图的状态 为关闭-->
  <update id="upaStateClose" parameterType="java.lang.Integer">
  	update shuffling_figure set state='2' where id=#{id}
  </update>
     <!-- 后台管理,通过传过来的轮播图id，查询商标的URL -->
 <select id="getCover" resultType="java.lang.String" parameterType="java.lang.Integer">
 	select cover from shuffling_figure where id =#{id}
 </select>
   <select id="getShufflingFigure" resultType="com.zhita.model.manage.ShufflingFigure">
  	select id,title,cover,link,state,businessname,deleted from shuffling_figure where deleted='0' and company=#{company}
  </select>
  <!-- 后台管理    用于添加轮播图时进行判断   将传过来的贷款商家名称  传进贷款商家表看是否存在 -->
  <select id="ifBusinessNameIfExist" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(businessname) from loans_businesses  where businessname=#{businessname}
  </select>
</mapper>