<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.SourceTemplateMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.SourceTemplate">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="templateImage" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, templateImage
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from source_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from source_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.SourceTemplate">
    insert into source_template (id, name, templateImage
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{templateimage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.SourceTemplate">
    insert into source_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="templateimage != null">
        templateImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="templateimage != null">
        #{templateimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.SourceTemplate">
    update source_template
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="templateimage != null">
        templateImage = #{templateimage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.SourceTemplate">
    update source_template
    set name = #{name,jdbcType=VARCHAR},
      templateImage = #{templateimage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <!-- ========================================================= -->
    <!-- 查询模板的所有信息 -->
    <select id="getTemplate" resultType="java.util.Map">
    select id,name from source_template
  </select>
  
      <!-- 根据模板的名字获取id -->
    <select id="getid" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id from source_template where name = #{templateName}
  </select>
  
   <insert id="setTemplate" parameterType="com.zhita.model.manage.SourceTemplate">
    insert into source_template (name) values (#{templateName})
  </insert>
  
        <!-- 根据id获取模板的名字 -->
    <select id="getTemplateName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select name from source_template where id = #{oldTemplateId}
  </select>
</mapper>