<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.StatisticalMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Statistical">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="uv" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="conversionRate" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="businessId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, time, uv, conversionRate, businessId,company
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statistical
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statistical
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Statistical">
    insert into statistical (id, time, uv, 
      conversionRate, businessId,company)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{uv,jdbcType=INTEGER}, 
      #{conversionrate,jdbcType=INTEGER}, #{businessid,jdbcType=INTEGER}, #{company,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Statistical">
    insert into statistical
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="uv != null">
        uv,
      </if>
      <if test="conversionrate != null">
        conversionRate,
      </if>
      <if test="businessid != null">
        businessId,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="uv != null">
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="conversionrate != null">
        #{conversionrate,jdbcType=INTEGER},
      </if>
      <if test="businessid != null">
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Statistical">
    update statistical
    <set>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="uv != null">
        uv = #{uv,jdbcType=INTEGER},
      </if>
      <if test="conversionrate != null">
        conversionRate = #{conversionrate,jdbcType=INTEGER},
      </if>
      <if test="businessid != null">
        businessId = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Statistical">
    update statistical
    set time = #{time,jdbcType=VARCHAR},
      uv = #{uv,jdbcType=INTEGER},
      conversionRate = #{conversionrate,jdbcType=INTEGER},
      businessId = #{businessid,jdbcType=INTEGER},
      company = #{company,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--后台管理  通过渠道名称   查询出统计表所有的商家名称  -->
  <select id="quereyAllLoansNameBySourceName" parameterType="java.lang.String" resultType="java.lang.String">
  	select l.businessName from statistical s 
  	inner join loans_businesses l on s.businessId=l.id
  	inner join source sc on s.sourceId=sc.id where sc.sourceName=#{arg0}
  </select>
  
  <!-- 后台管理  查询统计表数据总数量 -->
  <select id="pageCount" parameterType="java.lang.String" resultType="java.lang.Integer">
 	select count(DISTINCT f.businessName) from (select c.id id,c.footprintTime date,c.footprint businessName,c.userId,c.company,s.sourceName sourceName from commodity_footprint c,user u,source s
    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and s.deleted='0' and s.sourceName=#{arg0} and c.footprintTime>=#{arg1} and c.footprintTime &lt;#{arg2}) f
  </select>
  <!-- 后台管理  通过渠道名称   查询统计表数据总数量 -->
  <select id="pageCountBySourceName" parameterType="java.lang.String" resultType="java.lang.Integer">
	select count(f.cid) from (select c.id cid,c.footprintTime,c.footprint,c.userId,c.company,s.sourceName from commodity_footprint c,user u,source s
	where c.userId=u.id and u.sourceId=s.id and c.deleted='0'and c.company=#{arg0} and s.sourceName=#{arg1}) f
  </select>
  <!-- 后台管理  联合查询统计所有信息   含分页-->
  <select id="queryAllPage" resultType="com.zhita.model.manage.SourceTongji">
	select c.id id,c.footprintTime date,c.footprint businessName,c.userId,c.company,s.sourceName sourceName from commodity_footprint c,user u,source s
    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and s.sourceName=#{arg0} and c.footprintTime>=#{arg1} and c.footprintTime &lt;#{arg2} group by businessName
  </select>
  <!-- 后台管理  联合查询统计所有信息   不含分页-->
  <select id="queryAllPage1" resultType="com.zhita.model.manage.SourceTongji">
  	select c.id id,c.footprintTime date,c.footprint businessName,c.userId,c.company,s.sourceName sourceName from commodity_footprint c,user u,source s
    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and c.company=#{arg0}
  </select>
    <!-- 后台管理  根据渠道名称   查询统计表所有信息   含分页-->
  <select id="queryAllPageBySourceName" resultType="com.zhita.model.manage.SourceTongji">
	select c.id id,c.footprintTime date,c.footprint businessName,c.userId,c.company,s.sourceName sourceName from commodity_footprint c,user u,source s
    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and c.company=#{arg0} and s.sourceName=#{arg1} limit #{arg2},#{arg3}
  </select>
  <!-- 后台管理  根据渠道名称   查询统计表所有信息   不含分页-->
  <select id="queryAllPageBySourceName1" resultType="com.zhita.model.manage.SourceTongji">
	select c.id id,c.footprintTime date,c.footprint businessName,c.userId,c.company,s.sourceName sourceName from commodity_footprint c,user u,source s
    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and c.company=#{arg0} and s.sourceName=#{arg1}
  </select>
    <!--  后台管理   查询统计pv -->
    <select id="queryPV" parameterType="java.lang.String" resultType="java.lang.Integer">
	    select count(c.userId) from commodity_footprint c,user u,source s
	    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and c.company=#{arg0} and s.sourceName=#{arg1}
    </select>
   <!-- 后台管理   查询统计uv -->
   <select id="queryUV" parameterType="java.lang.String" resultType="java.lang.Integer">
	    select count(DISTINCT c.userId) from commodity_footprint c,user u,source s
	    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and c.company=#{arg0} and s.sourceName=#{arg1} and c.footprintTime>=#{arg2} and c.footprintTime &lt;#{arg3}
   </select>
   <select id="queryUV1" parameterType="java.lang.String" resultType="java.lang.Integer">
	    select count(DISTINCT c.userId) from commodity_footprint c,user u,source s
	    where c.userId=u.id and u.sourceId=s.id and c.deleted='0' and c.footprint=#{arg0} and s.sourceName=#{arg1} and c.footprintTime>=#{arg2} and c.footprintTime &lt;#{arg3}
   </select>
   <!--后台管理    查询统计申请数 -->
   <select id="queryApplicationNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(u.id) from user u,source s where u.sourceId=s.id and u.company=#{arg0} and s.sourceName=#{arg1} and u.registrationTime>=#{arg2} and u.registrationTime &lt;#{arg3}
   </select>
   <!-- 后台管理    得到当前渠道的折扣率 -->
   <select id="queryDiscount" parameterType="java.lang.String" resultType="java.lang.String">
   		select discount from source where sourceName=#{arg0} and company=#{arg1}
   </select>
   <!-- 后台管理     查询当前渠道在user表的所有注册时间 -->
   <select id="queryTime" parameterType="java.lang.String" resultType="java.lang.String">
   		select registrationTime from user u,source s where u.sourceId=s.id and u.company=#{arg0} and s.sourceName=#{arg1} 
   </select>
   <!-- 后台管理     查询在user表的所有注册时间 -->
   <select id="queryTimeme1" parameterType="java.lang.String" resultType="java.lang.String">
   		select registrationTime from user u,source s where u.sourceId=s.id and u.company=#{arg0}
   </select>
   <!-- 后台管理      查询该时间段里    在用户表一共哪些渠道，以及这些渠道的在用户表的注册数量 -->
   <select id="queryAllSourceByUser" resultType="com.zhita.model.manage.TongjiSorce">
   		select t.sourcename,count(*) appnum,t.company from 
   		(select u.sourceid,s.sourcename,u.phone,u.registrationTime,u.company from user u left join source s on u.sourceId=s.id where u.company in 
   		<foreach collection="arg0" item="item" open="(" separator="," close=")">  
            #{item}  
       	</foreach> 
   		 and u.registrationTime>=#{arg1} and u.registrationTime &lt;#{arg2}) t 
   		group by t.sourcename 
   </select>
   <!-- 后台管理           激活人数 -->
   <select id="queryactivatenum" parameterType="java.lang.String" resultType="com.zhita.model.manage.User">
   		select u.registrationtime,u.logintime from user u inner join source s on u.sourceid=s.id where u.company=#{arg0} and s.sourcename=#{arg1} and u.logintime>=#{arg2} and u.logintime &lt;#{arg3} 
   </select>
</mapper>