<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.StrategyMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Strategy">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cover" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="synopsis" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="isStick" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="state" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, cover, synopsis, type, url, isStick, state, content, deleted,company
  </sql>
  <!-- 后台管理  通过主键id查询出攻略信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Strategy">
    insert into strategy (id, title, cover, 
      synopsis, type, url, 
      isStick, state, content, 
      deleted,company)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{synopsis,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{isstick,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR},#{company,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Strategy">
    insert into strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="synopsis != null">
        synopsis,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="isstick != null">
        isStick,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null">
        #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="isstick != null">
        #{isstick,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Strategy">
    update strategy
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null">
        synopsis = #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isstick != null">
        isStick = #{isstick,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Strategy">
    update strategy
    set title = #{title,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      synopsis = #{synopsis,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      isStick = #{isstick,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 后台管理  通过传过来的攻略对象，对当前对象进行修改保存 -->
    <update id="updateStrategy" parameterType="com.zhita.model.manage.Strategy">
    update strategy
    set title = #{title,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      synopsis = #{synopsis,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      isStick = #{isstick,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 后台管理   查询攻略表所有信息，含分页 -->
  <select id="queryAllNews" resultType="com.zhita.model.manage.Strategy">
  	select id,title,cover,synopsis,type,isstick,state,company from strategy where deleted='0' and company=#{arg0} limit #{arg1},#{arg2}
  </select>
  <!-- 后台管理   查询攻略表总数量-->
  <select id="pageCount" resultType="java.lang.Integer">
  	select count(cover) from strategy where deleted='0' and company=#{arg0}
  </select>
    <!--后台管理    根据标题字段模糊查询攻略表总数量-->
  <select id="pageCountByLike" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(cover) from strategy where deleted='0' and title like "%"#{arg0}"%" and company=#{arg1}
  </select>
    <!-- 后台管理   查询攻略表所有信息，含分页 -->
  <select id="queryNewsByLike" resultType="com.zhita.model.manage.Strategy">
  	select id,title,cover,synopsis,type,isstick,state,company from strategy where deleted='0' and title like "%"#{arg0}"%" and company=#{arg1} limit #{arg1},#{arg2}
  </select>
  <!-- 后台管理 添加攻略信息 -->
   <insert id="addAll" parameterType="com.zhita.model.manage.Strategy" >
 	insert into strategy(cover,title,synopsis,type,isstick,url,content,company) values(#{cover},#{title},#{synopsis},#{type},#{isstick},#{url},#{content},#{company})
 </insert>
 <!--后台管理   通过主键id修改其当前对象的假删除状态 -->
 <update id="upaFalseDelById" parameterType="java.lang.Integer">
 	update strategy set deleted ='1' where id=#{id}
 </update>
 <!-- 后台管理  修改攻略状态为开启 -->
 <update id="upaStateOpen" parameterType="java.lang.Integer">
 	update strategy set state ='1' where id=#{id}
 </update>
  <!-- 后台管理  修改攻略状态 为关闭-->
 <update id="upaStateClose" parameterType="java.lang.Integer">
 	update strategy set state ='2' where id=#{id}
 </update>
 
    <!-- 通过传过来的攻略id，查询商标的URL -->
 <select id="getCover" resultType="java.lang.String" parameterType="java.lang.Integer">
 	select cover from strategy where id = #{id}
 </select>
</mapper>