<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.TopUpAmountMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.TopUpAmount">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="operationDate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="billingDate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="firm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="topUpAmount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cashReceipts" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="paymentAccount" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="contact" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="firmType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="modifyTime" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, operationDate, billingDate, firm, topUpAmount, cashReceipts, paymentAccount, 
    contact, note, deleted, company, firmType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from top_up_amount
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from top_up_amount
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.TopUpAmount">
    insert into top_up_amount (id, operationDate, billingDate, 
      firm, topUpAmount, cashReceipts, 
      paymentAccount, contact, note, 
      deleted, company, firmType
      )
    values (#{id,jdbcType=INTEGER}, #{operationdate,jdbcType=VARCHAR}, #{billingdate,jdbcType=VARCHAR}, 
      #{firm,jdbcType=VARCHAR}, #{topupamount,jdbcType=INTEGER}, #{cashreceipts,jdbcType=VARCHAR}, 
      #{paymentaccount,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{firmtype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.TopUpAmount">
    insert into top_up_amount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operationdate != null">
        operationDate,
      </if>
      <if test="billingdate != null">
        billingDate,
      </if>
      <if test="firm != null">
        firm,
      </if>
      <if test="topupamount != null">
        topUpAmount,
      </if>
      <if test="cashreceipts != null">
        cashReceipts,
      </if>
      <if test="paymentaccount != null">
        paymentAccount,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="firmtype != null">
        firmType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationdate != null">
        #{operationdate,jdbcType=VARCHAR},
      </if>
      <if test="billingdate != null">
        #{billingdate,jdbcType=VARCHAR},
      </if>
      <if test="firm != null">
        #{firm,jdbcType=VARCHAR},
      </if>
      <if test="topupamount != null">
        #{topupamount,jdbcType=INTEGER},
      </if>
      <if test="cashreceipts != null">
        #{cashreceipts,jdbcType=VARCHAR},
      </if>
      <if test="paymentaccount != null">
        #{paymentaccount,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="firmtype != null">
        #{firmtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.TopUpAmount">
    update top_up_amount
    <set>
      <if test="operationdate != null">
        operationDate = #{operationdate,jdbcType=VARCHAR},
      </if>
      <if test="billingdate != null">
        billingDate = #{billingdate,jdbcType=VARCHAR},
      </if>
      <if test="firm != null">
        firm = #{firm,jdbcType=VARCHAR},
      </if>
      <if test="topupamount != null">
        topUpAmount = #{topupamount,jdbcType=INTEGER},
      </if>
      <if test="cashreceipts != null">
        cashReceipts = #{cashreceipts,jdbcType=VARCHAR},
      </if>
      <if test="paymentaccount != null">
        paymentAccount = #{paymentaccount,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="firmtype != null">
        firmType = #{firmtype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.TopUpAmount">
    update top_up_amount
    set operationDate = #{operationdate,jdbcType=VARCHAR},
      billingDate = #{billingdate,jdbcType=VARCHAR},
      firm = #{firm,jdbcType=VARCHAR},
      topUpAmount = #{topupamount,jdbcType=INTEGER},
      cashReceipts = #{cashreceipts,jdbcType=VARCHAR},
      paymentAccount = #{paymentaccount,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      firmType = #{firmtype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- ================================================ -->
   		  	<!--充值金额中的插入数据 -->
	<insert id="setTUamount" parameterType="java.util.Map" useGeneratedKeys="true">
    insert into top_up_amount (modifyTime,billingDate,firm, topUpAmount, 
      cashReceipts, paymentAccount,contact,note,company,firmType,operationDate
      )
    values (#{registrationTime},#{billingDate}, #{firm}, #{topUpAmount}, 
      #{cashReceipts}, #{paymentAccount},#{contact},#{note},#{company},#{firmType},#{operationDate}
      )     
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">  
      SELECT LAST_INSERT_ID()
    </selectKey>  
	</insert>
	
	   		  	<!--充值金额中的插入数据 -->
	<insert id="setTUamount1" parameterType="com.zhita.model.manage.TopUpAmount" useGeneratedKeys="true">
    insert into top_up_amount (modifyTime,billingDate,firm, topUpAmount, 
      cashReceipts, paymentAccount,contact,note,company,firmType,operationDate
      )
    values (#{modifyTime},#{billingDate}, #{firm}, #{topUpAmount}, 
      #{cashReceipts}, #{paymentAccount},#{contact},#{note},#{company},#{firmType},#{operationDate}
      )     
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">  
      SELECT LAST_INSERT_ID()
    </selectKey>  
	</insert>
		
  
   			<!--充值金额中的更新数据 -->
	<update id="updateTUamount" parameterType="java.util.Map">
		update top_up_amount
		set modifyTime = #{registrationTime},
		firm = #{firm},
		billingDate = #{billingDate},
		topUpAmount = #{topUpAmount},
		cashReceipts = #{cashReceipts},
		paymentAccount = #{paymentAccount},
		contact = #{contact},
		note = #{note},
		firmType = #{firmType},
		operationDate = #{otimestamps}
		where id = #{id} and deleted = '0'
	</update>
	
		 			<!--充值金额中根据id删除数据，其实就是把deleted改成1 -->
	<update id="deleteAmountById" parameterType="java.util.Map">
		update top_up_amount set deleted = '1',modifyTime = #{registrationTime} where id = #{id}
	</update>
	
			 			<!--充值金额中根据操作日期删除数据，其实就是把deleted改成1 -->
	<update id="deleteAmountByOperationDate" parameterType="java.lang.String">
		update top_up_amount set deleted = '1',modifyTime = #{registrationTime} where operationDate = #{otimestamps} and company = #{company} and firmType = #{firmtype}
	</update>
	
	   <!-- 查询充值金额中有多少条数据 -->
 <select id="pageCountByAmount" parameterType="java.lang.String" resultType="java.lang.Integer">
   select count(id) from top_up_amount where deleted='0' and company = #{company} and firmType =#{firmType}
 </select>
 
 	   <!-- 查询充值金额中,查询数据,含分页 -->
 <select id="getAmount" parameterType="java.util.Map" resultType="com.zhita.model.manage.TopUpAmount">
   select id,operationDate,billingDate,firm,topUpAmount,cashReceipts,paymentAccount,contact,note,firmType
    from top_up_amount where firmType =#{firmType} and company = #{company} and deleted = '0' order by operationDate desc limit #{page},#{pagesize}
 </select>
 
 	   <!-- 根据公司和日期查询充值金额 -->
 <select id="gettopUpAmount" parameterType="java.util.Map" resultType="java.lang.Integer">
   select sum(topUpAmount) from top_up_amount where deleted='0' and company = #{company} and firm = #{sourceName} and billingDate = #{date}
 </select>

 	   <!-- 根据公司和日期查询充值金额 -->
 <select id="getAmountbyfirm" parameterType="java.lang.String" resultType="java.lang.Integer">
   select sum(topUpAmount) from top_up_amount where deleted='0' and company = #{company} and firm = #{sourceName} and billingDate >=#{startDate} and billingDate &lt;#{endDate}
 </select>
</mapper>