<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.UserMapper">
	<resultMap id="BaseResultMap"
		type="com.zhita.model.manage.User">
		<constructor>
			<idArg column="id" javaType="java.lang.Integer"
				jdbcType="INTEGER" />
			<arg column="source" javaType="java.lang.String"
				jdbcType="VARCHAR" />
			<arg column="nickname" javaType="java.lang.String"
				jdbcType="VARCHAR" />
			<arg column="phone" javaType="java.lang.String"
				jdbcType="VARCHAR" />
			<arg column="dayFen" javaType="java.lang.Integer"
				jdbcType="INTEGER" />
			<arg column="registrationTime" javaType="java.lang.String"
				jdbcType="VARCHAR" />
			<arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="age" javaType="java.lang.Integer" jdbcType="INTEGER" />
			<arg column="idCard" javaType="java.lang.String"
				jdbcType="VARCHAR" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		id, source, nickname, phone, dayFen, registrationTime,
		name, age, idCard
	</sql>	
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.zhita.model.manage.User">
		insert into user (id, source,
		nickname,
		phone, dayFen, registrationTime,
		name, age, idCard)
		values
		(#{id,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR},
		#{nickname,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{dayfen,jdbcType=INTEGER}, #{registrationtime,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
		#{idcard,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.zhita.model.manage.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="dayfen != null">
				dayFen,
			</if>
			<if test="registrationtime != null">
				registrationTime,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="idcard != null">
				idCard,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="dayfen != null">
				#{dayfen,jdbcType=INTEGER},
			</if>
			<if test="registrationtime != null">
				#{registrationtime,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="idcard != null">
				#{idcard,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.zhita.model.manage.User">
		update user
		<set>
			<if test="source != null">
				source = #{source,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="dayfen != null">
				dayFen = #{dayfen,jdbcType=INTEGER},
			</if>
			<if test="registrationtime != null">
				registrationTime = #{registrationtime,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="idcard != null">
				idCard = #{idcard,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.zhita.model.manage.User">
		update user
		set source = #{source,jdbcType=VARCHAR},
		nickname = #{nickname,jdbcType=VARCHAR},
		phone =
		#{phone,jdbcType=VARCHAR},
		dayFen = #{dayfen,jdbcType=INTEGER},
		registrationTime = #{registrationtime,jdbcType=VARCHAR},
		name =
		#{name,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER},
		idCard =
		#{idcard,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 查找用户表有多少条记录 -->
	<select id="getregistered" resultType="java.lang.Long">
		select count(name) from
		user
	</select>
	<!-- 查找日新增用户数 -->
	<select id="getdailyUsers" resultType="java.lang.Long"
		parameterType="java.lang.Long">
		select count(name) from user where
		registrationTime>=#{todayZeroTimestamps}
		and registrationTime &lt;
		#{tomorrowZeroTimestamps}
	</select>
	<!-- 查找月新增用户数 -->
	<select id="getmonthlyUsers" resultType="java.lang.Long"
		parameterType="java.lang.Long">
		select count(name) from user where
		registrationTime>=#{monthlyZeroTimestamps} and registrationTime &lt;
		#{nextMonthlyZeroTimestamps}
	</select>
</mapper>