<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.VestBagVersionMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.VestBagVersion">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="vestBagId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="version" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, vestBagId, version,company, deleted
  </sql>
  
    <select id="getVersion" parameterType="java.lang.Integer" resultType="java.lang.String">
    select version from vest_bag_version where vestBagId =#{id} and deleted = '0';
  </select>
  <!--后台管理     先查询出vest_bag表所有信息  -->
  <select id="queryAll" parameterType="java.lang.String" resultType="com.zhita.model.manage.VestBag">
  	select id,vestBagName,company from vest_bag where deleted=0 and company=#{arg0}
  </select>
  <!--后台管理     添加vest_bag_version表信息 -->
  <insert id="insert" parameterType="com.zhita.model.manage.VestBagVersion">
  	insert into vest_bag_version(vestBagId,version,company) values(#{vestbagid},#{version},#{company})
  </insert>
   <!--后台管理       查询vest_bag_version表所有的信息-->
 <select id="queryAllVersion" parameterType="java.lang.String" resultType="com.zhita.model.manage.VestBagVersion">
 	select vb.vestBagName,vbv.version,vbv.company from vest_bag_version vbv inner join vest_bag vb on vbv.vestBagId=vb.id where vbv.deleted=0 and vbv.company in
 	<foreach collection="company" item="item" open="(" separator="," close=")">  
          #{item}  
    </foreach>
 </select>
  
  <!-- 后台管理       通过id查询vest_bag_version对象的信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.VestBagVersion">
   select vb.vestBagName,vbv.version,vbv.company from vest_bag_version vbv inner join vest_bag vb on vbv.vestBagId=vb.id
    where vbv.id = #{id}
  </select>
  
   <!-- 后台管理     保存修改后的vest_bag_version表信息 -->
 <update id="upaVersion" parameterType="com.zhita.model.manage.VestBagVersion"> 
 	update vest_bag_version
    set version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
 </update>
</mapper>